In [2]:
#함수 def - 함수를 만들 때 사용하는 예약어 
'''def 함수이름(매개변수):
       수행할문장1
       ...  '''
def add(a,b):
    return a + b

a=3
b=4
c=add(a,b)
print(c)

7

In [3]:
#일반적인 함수 형태 / 입력값과 리턴값이 있는 함수 // 리턴값을 받을 변수 = 함수이름(인수,...)
'''def 함수이름(매개변수):
       수행할문장1
       ...  
       return 리턴값 '''
def add(a,b):
    result = a + b
    return result

a = add(3,4)
print(a)

7

In [4]:
#입력값이 없는 함수 > 매개변수X // 리턴값을 받을 변수 = 함수이름()
def say():
    return 'hi'

a = say()
print(a)

hi

In [5]:
#리턴값이 없는 함수 // 함수이름(인수,...)
def add(a,b):
    print('%d, %d의 합은 %d입니다.' %(a, b, a+b))

add(3,4)

3, 4의 합은 7입니다.

In [8]:
a = add(3,4) #함수의 리턴값을 a에 대입
print(a)     #a값 출력

''' a의 값으로 none이 출력되었는데 이는 거짓형 불리언이다. 
위의 예시처럼 리턴값이 없는 함수를 변수에 대입시키면
none을 리턴하고 이는 리턴값이 없다는걸 의미한다.'''

3, 4의 합은 7입니다.
None

In [10]:
#리턴값과 입력값 둘 다 없는 함수 // 함수이름()
def say():
    print('Hi')

say()
print(say())

Hi
Hi
None

In [11]:
#매개변수를 지정하여 호출하기 / 값을 지정해두면 순서 상관없음!
def sub(a,b):
    return a - b
result = sub(a=7, b=3)
print(result)

4

In [12]:
result = sub(b=3, a=7)
print(result)

4

In [17]:
#입력값이 몇개가 될 지 정확히 모를때
# def 함수이름(*매개변수):
def add_many(*arg):
    result = 0
    for i in arg:
        result = result + i #arg에 입력된 인수값을 모조리 더함
    return result
    
result = add_many(1,2,3)
print(result)
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

6
55

In [18]:
#응용 예시 
def add_mul(choice, *args):
    if choice == 'add':
        result = 0
        for i in args:
            result += i
    elif choice == 'mul':
        result = 1
        for i in args:
            result = result * i
    return result
result1 = add_mul('add',1,2,3,4,5)
result2 = add_mul('mul',1,2,3,4,5)

print(result1)
print(result2)

15
120

In [20]:
#키워드 매개변수 **kwargs // 매개변수 앞에 ** 붙이고 사용하면 해당 인수값은 키와 밸류값을 가진 딕셔너리가 된다
def print_kwargs(**kwargs):
    print(kwargs)

print_kwargs(a=1)
print_kwargs(name='foo',age=3)

{'a': 1}
{'name': 'foo', 'age': 3}

In [27]:
#함수의 리턴값은 언제나 하나
#아래의 예문에서 오류가 안나는 이유는 리턴값이 (a+b,a*b) 라는 하나의 튜플로 리턴되기 때문이다
def add_mul(a,b):
    return a+b, a*b
    
result = add_mul(3,4)
result

(7, 12)

In [33]:
result1,result2 = add_mul(3,4)
result1
result2
result1,result2

(7, 12)

In [34]:
#리턴을 여러개 입력한다면?
def add_and_mul(a,b):
    return a+b
    return a*b
result = add_and_mul(2,3)
print(result)
#함수는 리턴문을 만나는 순간 리턴값을 돌려준다음 바로 함수를 빠져나가기 때문에 두번째 리턴문은 실행이 안되는것
#결국 위 예문은 def~ : return a+b 와 같다

5

In [36]:
#매개변수에 초기값 미리 설정하기
def say_myself(name, age, man=True):
    print("나의 이름은 %s입니다." %name)
    print("나의 나이는 %d살 입니다." %age)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")
say_myself('박대기', 27) # man이라는 변수에 입력값을 안넣었지만, 이미 초깃값 True를 가져 진행됨

나의 이름은 박대기입니다.
나의 나이는 27살 입니다.
남자입니다.

In [39]:
say_myself('박대기', 27, 'man')
say_myself('박대기', 27, True)

나의 이름은 박대기입니다.
나의 나이는 27살 입니다.
남자입니다.
나의 이름은 박대기입니다.
나의 나이는 27살 입니다.
남자입니다.

In [45]:
say_myself('박대기', 27, 1) #세번째 입력변수에 밸류값 외에는 초깃값 진행됨
say_myself('박대기', 27, False)

나의 이름은 박대기입니다.
나의 나이는 27살 입니다.
남자입니다.
나의 이름은 박대기입니다.
나의 나이는 27살 입니다.
여자입니다.

In [48]:
#주의사항 : 초깃값을 설정할때 설정하는 매개변수의 위치는 항상 맨 뒤여야한다
def say_myself(name, man=True, age):
    print("나의 이름은 %s입니다." %name)
    print("나의 나이는 %d살 입니다." %age)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")
self_myself('박씨',27) #name의 입력변수엔 박씨가 들어가겠지만 27은 man,age 매개변수 중 어느곳에 대입할지 파이썬은 판별불가

SyntaxError: parameter without a default follows parameter with a default (2352533075.py, line 2)

In [51]:
#두번째에 넣었더라도 값을 넣으면 될 줄 알았더니 똑같이 오류가 뜸 > 무조건 초깃값 넣는 매개변수는 뒤에 둘 것
def say_myself(name, man=True, age):
    print("나의 이름은 %s입니다." %name)
    print("나의 나이는 %d살 입니다." %age)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")
self_myself('박씨',True,27)

SyntaxError: parameter without a default follows parameter with a default (208026603.py, line 1)

In [52]:
#함수밖의 변수와 함수안의 변수는 같을까?
a = 1
def vartest(a):
    a += 1

vartest(a)   # vartest함수의 인수를 a로 대입
print(a)     # a값 출력

1

In [54]:
b = vartest(a) 
print(b)      #리턴값이 있는 함수가 아니기 때문에 변수를 따로 지정해서 값 출력불가

None

In [73]:
vartest(1)  # 인수를 넣어도 값이 출력되거나 변동사항이 없다
'''간단한 이유
함수 내부에 print가 없고
return도 없기 때문에
함수는 “아무 결과도 출력하지 않고” 그냥 끝난다.'''

'간단한 이유\n함수 내부에 print가 없고\nreturn도 없기 때문에\n함수는 “아무 결과도 출력하지 않고” 그냥 끝난다.'

내부 동작 구조를 더 정확하게 보면
vartest(1) 호출
매개변수 a에 1이 복사됨 (정확히는 객체 참조가 전달됨)
a += 1 실행
숫자는 immutable → 새로운 int 객체 2 생성
지역 변수 a가 2를 가리킴
함수 종료 → 지역변수 a는 메모리에서 제거됨
외부 변수 a는 그대로 1

In [74]:
#함수 안에서 함수 밖의 변수를 변경하는 방법 1.return 사용, 2.변경가능한자료형으로 진행, 3.global명령어 사용하기
a = 1
def vartest(a):
    a += 1
    return a
a = vartest(a) #함수에 리턴값을 추가하여 그 리턴값을 받을 변수로 함수밖의 변수 a에다가 대입
print(a)

2

In [79]:
a = [0]
def vartest(a):
    a[0] += 1

vartest(a)
print(a)

[1]

In [80]:
#global은 지양하자 외부변수에 종속적인 함수는 그다지 좋은 함수가 아니다.
a = 1
def vartest():
    global a
    a += 1
vartest()
print(a)

2

In [81]:
#lambda 예약어 // def와 동일한 역할인데 def를 사용하지못하거나 복잡하지 않을때 주로 쓴다
#함수이름 = lambda 매개변수1, 매개변수2, ... : 매개변수를 이용한 표현식
add = lambda a,b : a+b
result = add(3,4)
print(result)           #lambda로 만든 함수식은 리턴 명령을 안줘도 표현식의 결과값을 리턴한다!!

7

In [88]:
#입출력 input함수
a = input()

 life is good

In [89]:
a

'life is good'

In [90]:
#프롬프트 띄우기 > 안내문구 보여주기 // input("안내문구")
a = input("숫자를 입력해주세요.")

숫자를 입력해주세요. 3

In [91]:
print(a)
type(a)   # input으로 입력되는 모든것은 다 str 문자형식으로 저장된다.

3

str

In [94]:
#print문 알고있으면 좋은거
#큰따옴표로 둘러싸인 문자열은 + 연산과 동일
print("life","is","good") # ,는 띄어쓰기다
print("life"+"is"+"good")
print('life''is''good')

life is good
lifeisgood
lifeisgood